.floating-flex {
  height: calc(100vh - 114px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 648px;
  display: flex;
  flex-direction: column;
  position: relative;

  width: 600px;
    height: 600px;
}

.row {
  background-color: transparent;
  position: absolute;
}
.name {
  font-size: 5em;
  background-color: transparent;
  margin-bottom: -30px;
  font-family: "Press Start 2P", cursive;
  color: var(--yellow);

  left: -100px;

}

.lastname {
  // margin-top: 55px;
  margin-left: 250px;
}

.image{
  top: 140px;
  right: 0;
}

.row .profile-image {
  color: transparent;
  height: 250px;
  width: 450px;
  float: right;
  position: relative;
  z-index: -1;
}

.description {
  bottom: 100px;
  left: -100px;
}

.description-text {
  color: #333;
  width: 400px;
  margin-top: -60px;
  line-height: 38px;
  font-size: 1.4em;
}

.description-text-child {
  background: #ededed;
  display: inline;
}

.container-bg {
  position: absolute;
  top: 60px;
  bottom: -60px;
  left: -50px;
  right: 100px;
  z-index: -2;
  filter: contrast(7);
  --mask: linear-gradient(red, #{rgba(var(--grey), 0.45)});

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(var(--grey), transparent) 0 0/ 0.5em 0.5em space;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    content: "";
    opacity: 0.4;
  }
}

.name-super {
  font-size: 0.125em;
  position: absolute;
  right: -80px;
  top: 50px;
}


@media screen and (max-width: 60em) {
  //tablet
  .name {
    font-size: 4em;
    left: -30px;
    top: 30px;
  }
  .description {
    bottom:150px;
    left: 20px;
    font-size: 1.2em;
  }

  .name-super {
    font-size: 0.125em;
    position: absolute;
    right: -50px;
    top: 35px;
  }
  .description-text {
    width: 300px;
    font-size: 1em;
  }
}

@media screen and (max-width: 40em) {
  //mobile
  .name {
    font-size: 2em;
    left: 10px;
    top: 100px;
  }
  .lastname {
    margin-left: 150px
  }
  .image{
    top: 150px;
    right: 0;
  }
  .description {
    bottom: 120px;
    left: 30px;
  }
  .container {
    width: 600px;
    height: 600px;
  }
  .row .profile-image {
    height: 200px;
    width: 300px;
  }
  .name-super {
    font-size: 0.125em;
    position: absolute;
    right: -50px;
    top: 15px;
  }
  .description-text {
    width: 300px;
    font-size: 1em;
  }
  
}
