.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding-top: 50px;
}

.cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.post-loading {
  background-color: #333;
  width: 100vw;
  height: 100vh;
}

.post-container {
  background-color: #333;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.post-header,
.text-content {
  --main-width: 35rem;
  --gutter: 1rem;
  padding: 1.25rem 0;
  line-height: 1.6;
}

.uppercase {
  text-transform: uppercase;
}

.post-header-text {
  background: var(--yellow);
  padding: .64rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: #000000;
}

.text-content {
  max-width: calc(var(--main-width) + var(--gutter));
  padding: 2em;
  margin: 0 auto;
  font-size: 1.2em;
}

.post-main-image {
  object-fit: cover;
  height: 140px;
  width: 100%;
}


.back-button {
  color: var(--yellow);
  margin: 1em;
  float: left;
  font-size: 4em;
  opacity: 0.8;
  cursor: pointer;
}

.back-button:hover {
  opacity: 1;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

//   h1, h2, h3, h4, span {
//     color: rgb(240, 240, 240);
//     font-family: "Rubik", sans-serif;
//     font-weight: 400;
//     margin: 0px;
//   }

//   i {  
//     color: rgb(240, 240, 240);
//   }

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info>i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title>h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  // body {
  //   align-items: flex-start;  
  //   overflow: auto;
  // }

  .cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image>i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info>i {
    font-size: 0.8em;
  }

  .card-info-title>h3 {
    font-size: 0.9em;
  }

  .card-info-title>h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}

.loading-container > * {
  margin-bottom: 0.5em;
}

.loading_bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: sk_bg_animation;
  animation-timing-function: linear;
  background: var(--grey);
  background: linear-gradient(to right, var(--dark-grey) 8%, var(--grey) 18%, var(--dark-grey) 33%);
  background-size: 800px 104px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}


@keyframes sk_bg_animation{
  0%{background-position:-468px 0}
  100%{background-position:468px 0}
}

.loading_bg.small {
  height: 48px;
}

.loading_bg.big {
  height: 64px;
}