

.float{
	position: fixed;
    width: 60px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    background-color: var(--yellow);
    color: var(--grey);
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}