.float{
	position: fixed;
    width: 60px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    background-color: var(--yellow);
    color: var(--grey);
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}


.postits-wrapper {
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 100px;
    grid-row-gap: 150px;
    padding: 150px;
    height: 100vh;
    overflow-y: scroll;
}

.form-wrapper {
  background-color: var(--yellow);
  width: 400px;
  padding: 2em;
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.name-label {
  color: var(--grey);
  margin-top: 1em;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.4em;
}

.name-input, .email-input {
  display: block;
  margin: 0.3em 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(100% - 1em);
  height:40px;
  border: none;
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.8);
  font-size: 1em;
  line-height: 1;
  font-family: 'Gochi Hand', cursive;

}

.comment-input {
  display: block;
  margin: 0.3em 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(100% - 1em);
  border: none;
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.8);
  font-size: 1em;
  line-height: 1;
  font-family: 'Gochi Hand', cursive;

}

.button-submit {
  background: rgba(0,0,0,0.05);
  color: var(--grey);
  margin-top: 1em;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.4em;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.post-it-comment-wrapper {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media screen and (max-width: 60em) {
  //tablet

}

@media screen and (max-width: 40em) {
  .postits-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    padding: 30px;
    padding-top: 100px;
}

.pin {
  width: 60px;
  height: 50px;
}

.pin-left {
  left: 10px;
    top: -25px;
}
.pin-right {
  right: -40px;
    top: -25px;
}

.form-wrapper {
  width: calc(100vw - 2em);
}
}